<!DOCTYPE HTML>
<html>
<head> 
    <title>ABC Campaign Direct Call</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>HOME</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>


    <p>For upload a file <a href="/bulk-data-upload">here</a></p>
    <p>For agent view <a href="/agent-view">here</a></p>
</body>
</html>
